html, body {
    background-color: rgb(44, 44, 44);
    font-family: Arial, "Liberation Sans", "Droid Sans", Tahoma, "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

#title {
    color: #ffffff;
    font-family: "Trebuchet MS", serif;
    font-weight: 100;
    font-size: 20px;
    margin: 20px 0 0 20px;
    align-items: center;
    display: inline-block;
    position: absolute;
    height: 23px;
    line-height: 23px;
    vertical-align: middle;
}

#title img {
    height: 100%;
    vertical-align: middle;
}

#main-container {
    width: 100%;
    height: 100%;
}

#content {
    width: 100%;
    height: 100%;
}

.links line {
    stroke: #929292;
    stroke-opacity: 1;
    stroke-width: 1;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.tags {
    font: 14px sans-serif;
    stroke: none;
    fill: white;
    cursor: pointer;
    text-anchor: middle;
    text-transform: lowercase;
}